/* UI/UX: RohanIT.ir */
/* طراحی رابط و تجربه کاربری فن آوری اطلاعات روهان */
@charset "utf-8";
@import "base";
@import "compass/css3";

$fontApp : $fontMirza;

$bkUrlTVCPreview : '';
body.tvcPre:before {
	width: 100%;
    height: 100%;
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: block;

    background-color: #000000;
	background-image: url($bkUrlTVCPreview);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	-webkit-filter: blur(0px) grayscale(0%);
	-moz-filter: blur(0px) grayscale(0%);
	-o-filter: blur(0px) grayscale(0%);
	-ms-filter: blur(0px) grayscale(0%);
	filter: blur(0px) grayscale(0%);

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	z-index: -1;
    margin: 0;
	padding: 0;
    overflow: hidden;
}
body.tvcPre {
	width: 1920px !important;
    min-width: 1920px !important;
    max-width: 1920px !important;
    height: 1080px !important;
    min-height: 1080px !important;
    max-height: 1080px !important;
    background-color: #000000;
	color: $colorWhite1;
	font: 0.625em/1em $fontApp;
	font-weight: normal;
	line-height: 1.75 !important;
	letter-spacing: 0;
	margin: 0;
	padding: 0;
    overflow: hidden;
}

a {
    background-color: $color1;
    color: $color1Bk;
    text-decoration: none;
    padding: 0px 4px;
    @include transition(all 0.15s ease);
    &:hover {
        background-color: $color1Bk;
        color: $color1;
        cursor: pointer;
    }
}
a[disabled] {
    pointer-events: none;
}

a {
	background-color: $color1;
	color: lighten($color1, 45);
	text-decoration: none;
	@include transition(all 0.15s ease);
	&:hover {
		background-color: $color2;
		color: lighten($color2, 45);
		cursor: pointer;
	}
}

.widgetTimeDate {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    text-align: center;
    
    background-image: url(../images/borderStyleDate.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    margin: 0px;
    padding: 0px;
    
    .txtTime {
        height: 170px;
        min-height: 170px;
        color: #FFFFFF;
        font: $fontSize*9.2 $fontRoya;
        font-weight: 600;
        margin: 0px;
        padding: 0px;
        padding-top: 85px;
    }
    .txtDate {
        color: #FFFFFF;
        font: $fontSize*2.9 $fontRoya;
        font-weight: 600;
        margin: 0px;
        padding: 0px;
        padding-top: 5px;
    }
}

.weather {
    display: block;
    position: relative;
//    background-color: #1C1B1B;
    width: 320px;
    min-width: 320px;
    max-width: 320px;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    line-height: 188px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    margin: 0px auto;
    padding: 0px;
    padding-top: 6px;
    overflow: hidden;
}
i {
    color: #FFFFFF;
    font-family: weather;
    font-weight: normal;
    font-style: normal;
    line-height: 1.0;
    text-transform: none;
}
.weather .wi {
    color: #FFFFFF;
    height: 140px;
    min-height: 140px;
    max-height: 140px;
    line-height: 140px;
    font-family: weather;
    font-size: 186px;
    font-weight: 600;
    text-align: center;
//    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.45);
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
}
.weather .cw {
    color: #FFFFFF;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    line-height: 120px;
    font: $fontSize*9.6 $fontRoya;
    font-weight: 600;
    text-align: center;
//    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.45);
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
}
.weather .cc {
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    line-height: 120px;
    font: $fontSize*3.2 $fontDefault;
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
//    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.15);
    margin: 0px 0 0 15px;;
    padding: 0px;
}
.weather ul {
    margin: 0;
    padding: 0;
}
.weather li {
    color: #FFFFFF;
    background: rgba(255,255,255,0.15);
    padding: 4px;
    display: inline-block;
    border-radius: 4px;
}
.weather .currently {
    margin: 0 4px;
}
.widgetWeather {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    text-align: center;
    
    background-image: url(../images/borderStyleWeather.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    margin: 0px;
    padding: 0px;
}

.widgetSlider {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    text-align: center;
    
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    
    margin: 0px;
    padding: 0px;
    
    .coin-slider {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 100%;
        min-height: 100%;
        max-height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    > img {
        display: block;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 100%;
        min-height: 100%;
        max-height: 100%;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
}

.widgetVideo {
    > video {
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 100%;
        margin: 0px;
        padding: 0px;
    }
}

.widgetText {
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
	height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: transparent;
    color: #FFFFFF;
    font: $fontSize*1 $fontApp;

    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.marquee {
    position: relative;
	width: 100%;
    min-width: 100%;
    max-width: 100%;
	height: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.marquee p {
	position: absolute;
    color: #FFFFFF;
	width: 100%;
	height: 120px;
    line-height: 120px;
    vertical-align: middle;
    font: $fontSize*3.8 $fontApp;
    font-weight: 400;
    text-align: center;
	margin: 0px;
    padding: 0px;
    padding-top: 60px;
	text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
    filter: dropshadow(color=rgba(0, 0, 0, 0.35), offx=1, offy=1);

	transform:translateX(100%);
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);
}
.marquee p:nth-child(1) {
	animation: left-one 20s ease infinite;
	-moz-animation: left-one 20s ease infinite;
	-webkit-animation: left-one 20s ease infinite;
}
.marquee p:nth-child(2) {
	animation: left-two 20s ease infinite;
	-moz-animation: left-two 20s ease infinite;
	-webkit-animation: left-two 20s ease infinite;
}
.marquee.down p {
	transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
}
.marquee.down p:nth-child(1) {
	animation: down-one 20s ease infinite;
	-moz-animation: down-one 20s ease infinite;
	-webkit-animation: down-one 20s ease infinite;
}
.marquee.down p:nth-child(2) {
	animation: down-two 20s ease infinite;
	-moz-animation: down-two 20s ease infinite;
	-webkit-animation: down-two 20s ease infinite;
}
.marquee.up p {
	transform:translateY(100%);
	-moz-transform:translateY(100%);
	-webkit-transform:translateY(100%);
}
.marquee.up p:nth-child(1) {
	animation: up-one 20s ease infinite;
	-moz-animation: up-one 20s ease infinite;
	-webkit-animation: up-one 20s ease infinite;
}
.marquee.up p:nth-child(2) {
	animation: up-two 20s ease infinite;
	-moz-animation: up-two 20s ease infinite;
	-webkit-animation: up-two 20s ease infinite;
}


/*================================
	Move the Marquee to the Left
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes left-one {
	0%	{
		-moz-transform:translateX(100%);
	}
	10% {
		-moz-transform:translateX(0);
	}
	40% {
		-moz-transform:translateX(0);
	}
	50% {
		-moz-transform:translateX(-100%);
	}
	100%{
		-moz-transform:translateX(-100%);
	}
}
@-moz-keyframes left-two {
	0% {
		-moz-transform:translateX(100%);
	}
	50% {
		-moz-transform:translateX(100%);
	}
	60% {
		-moz-transform:translateX(0);
	}
	90% {
		-moz-transform:translateX(0);
	}
	100%{
		-moz-transform:translateX(-100%);
	}
}
/** Webkit Keyframes **/
@-webkit-keyframes left-one {
	0% {
		-webkit-transform:translateX(100%);
	}
	10% {
		-webkit-transform:translateX(0);
	}
	40% {
		-webkit-transform:translateX(0);
	}
	50% {
		-webkit-transform:translateX(-100%);
	}
	100%{
		-webkit-transform:translateX(-100%);
	}
}
@-webkit-keyframes left-two {
	0% {
		-webkit-transform:translateX(100%);
	}
	50% {
		-webkit-transform:translateX(100%);
	}
	60% {
		-webkit-transform:translateX(0);
	}
	90% {
		-webkit-transform:translateX(0);
	}
	100%{
		-webkit-transform:translateX(-100%);
	}
}

/*================================
	Move the Marquee Downwards
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes down-one {
	0%	{
		-moz-transform:translateY(-100%);
	}
	10% {
		-moz-transform:translateY(0);
	}
	40% {
		-moz-transform:translateY(0);
	}
	50% {
		-moz-transform:translateY(100%);
	}
	100%{
		-moz-transform:translateY(100%);
	}
}
@-moz-keyframes down-two {
	0% {
		-moz-transform:translateY(-100%);
	}
	50% {
		-moz-transform:translateY(-100%);
	}
	60% {
		-moz-transform:translateY(0);
	}
	90% {
		-moz-transform:translateY(0);
	}
	100%{
		-moz-transform:translateY(100%);
	}
}

/** Webkit Keyframes **/
@-webkit-keyframes down-one {
	0% {
		-webkit-transform:translateY(-100%);
	}
	10% {
		-webkit-transform:translateY(0);
	}
	40% {
		-webkit-transform:translateY(0);
	}
	50% {
		-webkit-transform:translateY(100%);
	}
	100%{
		-webkit-transform:translateY(100%);
	}
}
@-webkit-keyframes down-two {
	0% {
		-webkit-transform:translateY(-100%);
	}
	50% {
		-webkit-transform:translateY(-100%);
	}
	60% {
		-webkit-transform:translateY(0);
	}
	90% {
		-webkit-transform:translateY(0);
	}
	100%{
		-webkit-transform:translateY(100%);
	}
}

/*================================
	Move the Marquee Upwards
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes up-one {
	0%	{
		-moz-transform:translateY(100%);
	}
	10% {
		-moz-transform:translateY(0);
	}
	40% {
		-moz-transform:translateY(0);
	}
	50% {
		-moz-transform:translateY(-100%);
	}
	100%{
		-moz-transform:translateY(-100%);
	}
}
@-moz-keyframes up-two {
	0% {
		-moz-transform:translateY(100%);
	}
	50% {
		-moz-transform:translateY(100%);
	}
	60% {
		-moz-transform:translateY(0);
	}
	90% {
		-moz-transform:translateY(0);
	}
	100%{
		-moz-transform:translateY(-100%);
	}
}

/** Webkit Keyframes **/
@-webkit-keyframes up-one {
	0% {
		-webkit-transform:translateY(100%);
	}
	10% {
		-webkit-transform:translateY(0);
	}
	40% {
		-webkit-transform:translateY(0);
	}
	50% {
		-webkit-transform:translateY(-100%);
	}
	100%{
		-webkit-transform:translateY(-100%);
	}
}
@-webkit-keyframes up-two {
	0% {
		-webkit-transform:translateY(100%);
	}
	50% {
		-webkit-transform:translateY(100%);
	}
	60% {
		-webkit-transform:translateY(0);
	}
	90% {
		-webkit-transform:translateY(0);
	}
	100%{
		-webkit-transform:translateY(-100%);
	}
}














