/* UI/UX: RohanIT.ir */
/* طراحی رابط و تجربه کاربری فن آوری اطلاعات روهان */
/* Grid Component */
@charset "utf-8";
@import "compass/reset";
@import "compass/utilities";
@import "../../../../source/scss/fonts";
@import "../../../../source/scss/colors";
@import "compass/css3";
html {
	font-size: $fontSize;
	direction: rtl;
}
body {
	width: 100%;
	height: 100%;
	color: $fontColor1;
	background-color: #151515;
	background-image: inherit;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font: 0.625em/1em $fontApp;
	font-weight: normal;
	line-height: 1.75 !important;
	letter-spacing: 0;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
.bk:before {
	width: 100%;
    height: 100%;
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	background-image: url(../images/bk.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-filter: blur(0px) grayscale(100%);
	-moz-filter: blur(0px) grayscale(100%);
	-o-filter: blur(0px) grayscale(100%);
	-ms-filter: blur(0px) grayscale(100%);
	filter: blur(0px) grayscale(100%);
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
  
	z-index: -1;
}




.title {
    color: $colorInfo;
    font: 2.3em/1em $fontNassim;
    font-weight: 600;
    padding: 12px 0;
}

ul.header {
    display: block;
    position: relative;
    list-style: none;
    width: 100%;
    height: auto;
    color: darken($colorGray, 8);
    font: 1.35em/1em $fontAppTitle;
    font-weight: 600;
    margin: 0;
    padding: 0;
    clear: both;
    > li {
        display: inline-block;
        position: relative;
        background-color: rgba(0,0,0,0.55);
        padding: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        float: right;
    }
    li.col10 {
        width: 10%;
        max-width: 10%;
    }
    li.col20 {
        width: 20%;
        max-width: 20%;
    }
    li.col40 {
        width: 40%;
        max-width: 40%;
    }
    li.col60 {
        width: 60%;
        max-width: 60%;
    }
    li.col80 {
        width: 80%;
        max-width: 80%;
    }
}
ul.item, .item {
    display: block;
    position: relative;
    list-style: none;
    width: 100%;
    height: auto;
    color: darken($colorWhite, 4);
    font: 1.65em/1em $fontNassim;
    font-weight: 600;
    margin: 0;
    padding: 0;
    clear: both;
    > li {
        display: inline-block;
        position: relative;
        background-color: rgba(0,0,0,0.35);
        padding: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        float: right;
    }
    li.col10 {
        width: 10%;
        max-width: 10%;
    }
    li.col20 {
        width: 20%;
        max-width: 20%;
    }
    li.col40 {
        width: 40%;
        max-width: 40%;
    }
    li.col60 {
        width: 60%;
        max-width: 60%;
    }
    li.col80 {
        width: 80%;
        max-width: 80%;
    }
}
ul.green {
    color: $colorSuccess !important;
}
ul.red {
    color: $colorWarning !important;
}
ul.itemAlt1, .itemAlt1 {
    @extend .item;
    background-color: darken($colorDark, 12) !important;
}
ul.itemAlt2, .itemAlt2 {
    @extend .item;
    background-color: darken($colorDark, 6) !important;
}



.btnDefault {
    display: block;
	position: relative;
	width: 100%;
    height: 17px;
    line-height: 17px;
    vertical-align: middle;
	background-color: $colorGrayLight;
	color: $fontColorApp;
	font: 1em/1em $fontYekan;
    font-weight: 600;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
	@include border-radius($borderRadius);
    margin: 0;
    padding: 0;
	padding-top: 6px;
	cursor: pointer;
    .icon {
        display: inline-block;
        font: 1.35em/1em $fontIcon;
        height: 15px;
        line-height: 15px;
        vertical-align: middle;
        margin: 0;
        margin-top: -4px;
        padding: 0;
		padding-right: 4px;
        float: right;
    }
	&:hover {
		background-color: $color1;
		color: lighten($color1, 35);
		cursor: pointer;
	}
}











