<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>شما از سیستم خارج شده اید</title>
    
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="logo.png" rel="icon" type="image/png">

    <link href="stylesheets/uicon.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/blankPage2.css" media="screen, projection" rel="stylesheet" type="text/css" />
    
    <style>
		.wrap {
			width: 70%;
			margin: 0px auto;
		}
	</style>
</head>
<body class="logOut">

<div class="wrap" style="padding-top: 3%;"> <!-- wrap -->

    <div class="title blue">شما از سیستم خارج شده اید</div>
    <div class="desc dark">لطفا مجددا وارد سیستم شوید</div>
    
    <br><br>
    
    <div class="btnPlace">
        <a href="#" class="btnBlue">
            <span class="icon" data-icon="&#xe052;"></span>
            <span class="txt">ورود به سیستم</span>
        </a>
    </div>

</div> <!-- /wrap -->

</body>
</html>
