<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>یک صفحه خالی</title>
    
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="logo.png" rel="icon" type="image/png">

    <link href="stylesheets/uicon.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/blankPage.css" media="screen, projection" rel="stylesheet" type="text/css" />
    
    <style>
		.wrap {
			width: 70%;
			margin: 0px auto;
		}
	</style>
</head>
<body class="bk">

<div class="wrap" style="padding-top: 7%;"> <!-- wrap -->

    <div class="title">عنوان صفحه مورد نظر</div>
    
    <ul class="header">
        <li class="col20">نام دامنه</li>
        <li class="col40">توضیحات</li>
        <li class="col20">قیمت</li>
        <li class="col20">تماس</li>
    </ul>
    
    <ul class="itemAlt1">
        <li class="col20">yahoo.com</li>
        <li class="col40">در مورد و یا زمینه فعالیت</li>
        <li class="col20">۱۰۰،۰۰۰ تومان</li>
        <li class="col20">۰۹۱۲۳۴۵۶۷۸۹</li>
    </ul>
    <ul class="itemAlt2">
        <li class="col20">google.com</li>
        <li class="col40">در مورد و یا زمینه فعالیت</li>
        <li class="col20">۱۰۰،۰۰۰ تومان</li>
        <li class="col20">۰۹۱۲۳۴۵۶۷۸۹</li>
    </ul>
    <ul class="itemAlt1">
        <li class="col20">yahoo.com</li>
        <li class="col40">در مورد و یا زمینه فعالیت</li>
        <li class="col20">۱۰۰،۰۰۰ تومان</li>
        <li class="col20">۰۹۱۲۳۴۵۶۷۸۹</li>
    </ul>
    <ul class="itemAlt2 green">
        <li class="col20">google.com</li>
        <li class="col40">در مورد و یا زمینه فعالیت</li>
        <li class="col20">۱۰۰،۰۰۰ تومان</li>
        <li class="col20">۰۹۱۲۳۴۵۶۷۸۹</li>
    </ul>
    <ul class="itemAlt1 red">
        <li class="col20">yahoo.com</li>
        <li class="col40">در مورد و یا زمینه فعالیت</li>
        <li class="col20">۱۰۰،۰۰۰ تومان</li>
        <li class="col20">۰۹۱۲۳۴۵۶۷۸۹</li>
    </ul>
    <ul class="itemAlt2 red">
        <li class="col20">google.com</li>
        <li class="col40">در مورد و یا زمینه فعالیت</li>
        <li class="col20">۱۰۰،۰۰۰ تومان</li>
        <li class="col20">۰۹۱۲۳۴۵۶۷۸۹</li>
    </ul>
    

</div> <!-- /wrap -->

</body>
</html>
